<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="programmers.coffee.domain.item.repository.ItemRepository">

  <resultMap id="ItemResultMap" type="programmers.coffee.domain.item.domain.Item">
    <id property="itemId" column="item_id"/>
    <result property="itemName" column="item_name"/>
    <result property="description" column="description"/>
    <result property="price" column="price"/>
    <result property="imageUrl" column="image_url"/>
    <result property="stockCount" column="stock_cnt"/>
  </resultMap>

  <!-- insert는 새로 다른 id로 -->
  <insert id="insertItem" parameterType="programmers.coffee.domain.item.dto.ItemResponseDto">
    INSERT INTO item (item_name, description, price, image_url, stock_cnt)
    VALUES (#{itemName}, #{description}, #{price}, #{imageUrl}, #{stockCount})
  </insert>

  <select id="selectAllItems" resultMap="ItemResultMap">
    SELECT * FROM item
  </select>

  <select id="selectItemById" parameterType="long" resultMap="ItemResultMap">
    SELECT * FROM item WHERE item_id = #{itemId}
  </select>


</mapper>
