<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//KO"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="programmers.coffee.domain.order.mapper.OrderMapper">

  <resultMap id="OrderItemResultMap" type="programmers.coffee.domain.order.domain.OrderItem">
    <result property="orderId" column="order_id"/>
    <result property="itemId" column="item_id"/>
    <result property="itemName" column="item_name"/>
    <result property="orderCnt" column="order_cnt"/>
    <result property="price" column="price"/>
  </resultMap>

  <insert id="insertOrder" useGeneratedKeys="true" keyProperty="orderId">
    INSERT INTO `order` (user_id, email, name, zip_code, address, order_time, order_status)
    VALUES (#{userId}, #{email}, #{name}, #{zipCode}, #{address}, #{orderTime}, #{orderStatus})
  </insert>

  <insert id="insertOrderItem" useGeneratedKeys="true" keyProperty="orderItemId">
    INSERT INTO order_item (order_id, item_id, order_cnt, price)
    VALUES (#{orderId}, #{itemId}, #{orderCnt}, #{price})
  </insert>

  <update id="updateTotalPrice">
    UPDATE `order` SET total_price = #{totalPrice} WHERE order_id = #{orderId}
  </update>

  <select id="selectOrderById" resultType="programmers.coffee.domain.order.domain.Order">
    SELECT * FROM `order` WHERE order_id = #{orderId}
  </select>

  <select id="selectOrderItemsByOrderId" resultMap="OrderItemResultMap">
    SELECT
      oi.order_id,
      oi.item_id,
      i.item_name,
      oi.order_cnt,
      oi.price
    FROM order_item oi
           JOIN item i ON oi.item_id = i.item_id
    WHERE oi.order_id = #{orderId}
  </select>

</mapper>